.App {
  font-family: sans-serif;
  text-align: center;
}

.PlayScreen {
  font-family: sans-serif;
  text-align: center;
}

.PlayButtonScreen {
  font-family: sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}
.EndScreen {
  font-family: sans-serif;
  text-align: center;
}

.ErrorMessage {
  color: red;
  text-align: center;
}

.alphabetButton {
  margin: 5px;
}
